---
import SvelteCounter from '../../components/svelte/SvelteCounter.svelte';
import BasicLayout from '../../layouts/BasicLayout.astro';
const count = 2;
---
<BasicLayout>
  <SvelteCounter count={count} client:only="svelte">
    <Fragment slot="slot1">
      <h1>Hello from Svelte!</h1>
      <h2>💥</h2>
    </Fragment>
  </SvelteCounter>
</BasicLayout>